<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h4>Sorry We could not find the page requested<br>
            please redirect to <a href="/">Home</a>
        </h4>
        {{errorMessage}}
    </div>
    {{>footer}}
</body>

</html>