<!DOCTYPE html>

<html>

<head>
    <title>Updates</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/DP.JPG">
    </div>
    {{>footer}}

</body>

</html>